@charset "utf-8";
::-webkit-scrollbar{width:0;}
::-webkit-scrollbar-thumb{background-color:rgba(255,255,255,.7)}
::-webkit-scrollbar-track{background-color:rgba(0,0,0,0)}

html,
body {
  font-family: "PAYW-Pro", 돋움, sans-serif;
  cursor: none;
}
.eng {
  font-family: "EuclidCircularA", sans-serif;
}
a {
  display: block;
  color: inherit;
  text-decoration: none;
  cursor: none;
}
img {
  display: block;
}

.wrapper {
  min-width: 1200px;
}
#logo {
  width: 10rem;
  left: 2.6%;
}
.gnb {
  position: fixed;
  top: 5.46%;
  z-index: 10;
}
.menu_open {
  right: 2.6%;
  padding: 0.4% 0.2%;
}
.gallery {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #101010;
}
.gallery aside {
  width: 16%;
  min-width: 250px;
}
.gallery .container {
  display: flex;
  width: 100%;
  height: 100%;
}
.gallery .container .category {
  width: 100%;
  padding: 45% 16%;
}
.gallery .container .category button {
  display: flex;
  align-items: center;
  gap: 0 0.68;
  width: 100%;
  padding: 9%;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.2;
  color: #fff;
  background-color: #222;
  border-radius: 0.5rem;
  text-align: left;
  justify-content: space-evenly;
}

.gallery .contents {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #101010;
}
.gallery .contents .gallery_section {
  display: flex;
  width: 100%;
}
.gallery .contents .gallery_section .column {
  width: 33.3333%;
}
.gallery .contents .gallery_section .column article {
  width: 100%;
  height: fit-content;
  padding: 0 0.25rem 2rem;
}
.gallery .contents .gallery_section .column article a {
  padding-top: calc(100.18832391714% + 8px);
  display: block;
  position: relative;
}
.gallery .contents .gallery_section .column article a img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
}
.gallery .contents .gallery_section .column article a h6 {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: -0.01em;
  line-height: 1.25;
  margin-top: 0.5rem;
}
.gallery .contents .gallery_section .column article a p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #bbb;
  letter-spacing: -0.01em;
  line-height: 1.26;
  margin-top: 0.25rem;
}
.gallery .contents .gallery_section .column2 article a {
  padding-top: calc(68.738% + 8px);
}
.gallery .contents .gallery_section .column3 article #padding {
  padding-top: calc(100.18832391714% + 8px);
}
.gallery .contents .gallery_section .column3 article a {
  padding-top: calc(87.193973634652% + 8px);
}

/* toggle menu */
.menu_wrap {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #050505;
  z-index: 99999;
}
.menu_wrap.none {
  display: none;
}
.menu_wrap.on {
  display: block;
}
.menu_wrap .gnb {
  width: 10rem;
  left: 2.6%;
  position: fixed;
  top: 5%;
  z-index: 10;
}
.menu_wrap .gnb a {
  display: block;
  width: 100%;
}
.menu_wrap .gnb a img {
  display: block;
  width: 100%;
}
.menu_wrap .menu_close {
  position: absolute;
  top: 5%;
  right: 2%;
  background-color: #ddff21;
  padding: 0.375rem;
  text-align: center;
}
.menu_wrap .menu_close img {
  vertical-align: middle;
}
.menu_wrap .menu_list {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16%;
}
.menu_wrap .menu_list li a {
  font-size: 7.5rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.29;
  color: #fff;
}
.menu_wrap .menu_list li a:hover {
  color: #ddff21;
}
.menu_wrap .menu_list li ~ li {
  margin-top: 2rem;
}
.menu_wrap .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 3.125rem 3.125rem;
  z-index: 10;
  display: block;
  background-color: #000;
}
.menu_wrap .footer .footer_wrap {
  color: #fff;
  position: relative;
  width: fit-content;
  height: 100%;
}
.menu_wrap .footer .footer_wrap .family_list li {
  float: left;
}
.menu_wrap .footer .footer_wrap .family_list li a {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.26;
  margin-left: 0.75rem;
}
.menu_wrap .footer .footer_wrap p {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.26;
  white-space: nowrap;
  margin-top: 0.75rem;
}
.menu_wrap .footer .footer_wrap .contact {
  background-color: rgba(255, 255, 255, 0.08);
  position: absolute;
  display: block;
  right: -1.8125rem;
  top: 50%;
  transform: translate(100%, -50%);
  padding: 1.0625rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* 마우스 커서 */
.circle {
  width: 30px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  border-radius: 50%;
  will-change: transform;
  transform: translate(-50%, -50%);
  z-index: 99999999;
}
